.stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0 0.4rem 0;

  .stats-info {
    .stats_num {
      font-family: "Lexend Deca", sans-serif;
      color: $whiteMainHeadingStats;
    }
  }
}
