// Primary Color Variables

$veryDarkBlueMainBg: hsl(233, 47%, 7%);
$darkDesaturatedBlueCardBg: hsl(244, 38%, 16%);
$softVioletAccent: hsl(277, 64%, 61%);

// Neutral Color Variables

$whiteMainHeadingStats: hsl(0, 0%, 100%);
$slightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhiteStats: hsla(0, 0%, 100%, 0.6);

//SCSS file imports
@import "default.scss";
@import "style-main.scss";
@import "style-card.scss";
